
/*genral css----------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
}

header , nav , footer , main , section , article{
    display: block;
}

a{
    text-decoration: none;
}

/*.clear{
    clear: both;
}*/

/*end of genral css----------------------------------------------------------------*/


#wrapper{
    
    max-width: 1000px;
    width:100%;
    margin: 0 auto;
    background-color: #f5f5f5;
    
}

header{
   // background-color: antiquewhite;
    max-width: 1000px;
    width:100%;
    height: 100px;
}

header a{
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    display: block;
    max-width: 170px;
    width:17%;
    height: 96px;
    margin-left: 10px;  
    float: left;
}

.logo1{
    color: #0B2CE9;
    font-family: arial;
    font-weight: bold;
    margin-left: 100px;
    padding-top: 30px;
    float: left;
}

header article{
    float: left;
    margin-left: 50px;
    margin-top: 30px;
    font-size: 200%
}

nav{
    height: 52px;
    background-color: #141414;
}

nav ul{
    margin-left: 75px;
}

nav ul li{
    margin-top: 6px;
    margin-left: 5px;
    max-width: 130px;
    width:20%;
    height: 40px;
    display: block;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    font-family: sans-serif;
    float: left;
}

nav ul li a{
    color: #FFFFFF;
    font-weight: bold;
}
    
nav li a:hover {  
    color: #0B2CE9;
}



nav li:nth-child(5){
    background-color: #141414;
}

nav li:nth-child(6){
    background-color: #141414;
}

nav input[type=text] {
    float: left;
    border: none;
    margin-top: 3px;
    font-size: 17px;
    border-radius: 7px 0 0 7px ;
    background-color: #ffffff;
    
}

nav .search-container button{
    float: right;
    padding: 9px 7px;
    margin: -33.5px -27px 20px 30px;
    background: #686868;
    font-size: 13px;
    border: none;
    cursor: pointer;
    border-radius: 0 7px 7px 0;
}

nav .search-container button:hover {
  background: #ddd;
}

nav .search-container {
    float: left;
    max-width:150px;
    width:100%;
    margin-left: 50px;
}

nav .logout{
	font-size: small;
	margin-left: 12px;
}

#breadcrumbs ul{
    margin: 10px 0 0 120px;
    color: #006ce5;
}

#breadcrumbs ul li{
    display: inline;
    margin-right: 3px;
}
main{
    height: 800px;
    position: relative;
}

.loginform .md-form{
	margin-left:20px;
	max-width:200px;
	width:80%;
}

.loginform .btn{
	margin-left:80px;
}

.loginform:nth-child(2){
	left:120px;
}

.loginform:nth-child(3){
	left:608px;
}

main form{
	max-width:500px;
	width:50%;
	height:650px;
	position: absolute;
	left:250px;
	top:70px;
	border: 1px solid #DDDDDD;	
}

main form .md-form{
	margin-left: 60px;
	max-width:300px;
	width:100%;
}

main form .fa{
	margin-left: -5px;
}

main form .btn{
	margin: -10px 10px 10px 190px;
	color:#000000 !important;
}


main form .progress{
	width:40%;
	height: 10px;
	margin:auto;
	border-radius: 7px;
	border:1px solid #000000;
}

main form .progress .progress-bar{
	height: 10px;
	background-color: #aaaaaa;
}

h2{
	margin-top:10px;
	margin-left:120px;
}

h3{
	text-align: center;
	font-size: x-large;
	margin-top:10px;
}

h4{
	text-align: center;
}

#selection{
    margin-top: 60px;
    margin-left: 60px;
}

#selection ul{
    list-style: none;
    margin-left:45px;
}

#selection ul li{
	font-size:large;
	font-weight:400;
    margin-top:18px;
}

#selection ul li .icon-btn{
    padding: 10px 15px 9px 8px;
}

#selection ul li .fa{
    padding: 10px 7px 9px 8px;
}


#selection .btn-glyphicon {
    padding:8px;
    background:#ffffff;
    margin-right:4px;
}

#selection .icon-btn {
    margin-top: 15px;
    padding: 1px 15px 3px 2px;
    border-radius:50px; 
}



.login{
	max-width:263px;
	width:26.3%;
	height:280px;
	background-color: #e6e6e6;
	position: absolute;
	top:200px;
}

.row{
	max-width:1000px;
	width:100%;
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:40px 15px 0 80px;
}

div .card{
	 margin:10px 120px 60px 0;
	 height: 230px;
}

div .card-body .btn{
	margin:0 0 0px 60px;
	padding: .375rem .75rem;
	border-radius: .25rem;
}

div .card-body .btn-dark{
	color: #fff;
    background-color: #343a40;
    border-color: #343a40;
    max-width:50px;
    width:50%;
}


#buttons button{
	color:#000000 !important;
	bottom:70px;
	font-weight: 600;
	float:left;
	position:absolute;
	border-radius: 10px;
}

#buttons button:nth-child(1){
	left:250px;
	background-color: #00C851;	
}

#buttons button:nth-child(2){	
	left:560px;
	background-color: #fbc02d;	
}

button a{
	color:#000000;
}


#popup{
    border-radius: 6px;
    color:#657B64;
    font-size:larger;
    background-color: #DEF0D8;
    position: absolute;
    max-width: 400px;
    width:40%;
    height: 160px;
    top: 30%;
    left: 30%;
    visibility: hidden;
}

#popup .btn-default{
	background-color: #00c851;
	margin:40px 0 0 150px;
	
}

#popup div{
	margin-top:5px;
	text-align: center;
}

.col-md-6{
	padding-top:10px;
	margin-top:99px;
	max-width:200px;
	width:20%;
	margin: 0 auto;
	margin-top:50px;
}

.col-md-4{
	padding-top:10px;
	max-width:200px;
	width:20%;
	margin: 0 auto;
}



.prefix{
	margin-left: 18px;
    margin-top: 10px;
}

.btn-primary{
	margin-top:30px;
	margin-left:95px;
}

#personal_details{
	margin-top:100px;
	margin:0 auto;
	max-width:397px;
	width:39.7%;
	height: 451px;
}

article button{
	margin-left:38px;
	width:19%;
	max-width:190px;
	height:20px;
	border:#000000;
	border-radius: 7px ;
    background-color: #000000; 
    color:#FFFFFF;
}

article li{
	margin-left:38px;
	max-width:190px;
	height:20px;
	border:#000000;
	border-radius: 7px ;
    background-color: #000000; 
    text-align: center;
    list-style-type: none;
    
} 

article li a{
	color:#FFFFFF;
}

#plan{
    overflow: hidden;
}

#plan article:nth-child(1){
    margin-top: 70px;
    margin-left: 70px;
    float: left;
}

#plan article:nth-child(2){
    margin-top: 70px;
    margin-right: 70px;
    float: right;

}

#plan article:nth-child(3){
    margin-top: 70px;
    margin-left: 70px;
    float: left;
    clear: left;
}


footer{
    height: 80px;
    background-color: #141414;
}
footer section:nth-child(1){
    margin-top: 16px;
    margin-left: 20px;
    float: left;
    display: block;
    width: 230px;
}

footer section:nth-child(1) li{
    list-style: none;
}


footer section:nth-child(1) a{
    color: #FFFFFF;
    list-style: none;
}



footer section:nth-child(1) li:nth-child(1){
    font-weight: bold;
    font-size: 150%;
    margin-bottom: 10px;
}



footer section:nth-child(1) li:nth-child(2){
    display: inline;
}

footer section:nth-child(1) li:nth-child(3){
    display: inline;
}
footer section:nth-child(2){
    margin-top: 16px;
    float: right;
    display: block;
    max-width: 230px;
    width:23%;
}

footer section:nth-child(2) ul li{
    list-style: none;
    max-width: 57px;
    width:57%;
    height: 50px;
    float: left;
}

footer section:nth-child(2) ul li:nth-child(1) a{
    background-image: url(../images/facebook.png);
    background-repeat: no-repeat;
    max-width: 50px;
    width:100%;
    height: 50px;
    display: block;
    float: left;
}


footer section:nth-child(2) ul li:nth-child(2) a{
    background-image: url(../images/twitter.png);
    background-repeat: no-repeat;
    max-width: 50px;
    width:100%;
    height: 50px;
    display: block;
    float: left;
}

footer section:nth-child(2) ul li:nth-child(3) a{
    background-image: url(../images/google.png);
    background-repeat: no-repeat;
    max-width: 50px;
    width:100%;
    height: 50px;
    display: block;
    float: left;
}

footer section:nth-child(2) ul li:nth-child(4) a{
    background-image: url(../images/youtube.png);
    background-repeat: no-repeat;
    max-width: 50px;
    width:100%;
    height: 50px;
    display: block;
    float: left;
}



footer section{
    float: left;
}

#costum{
	max-width:1000px;
	width:100%;
	position: absolute;
	top:80px;
}

.sidemenu{
	margin:70px 0 0 120px;
}

.sidemenu ul{
	list-style: none;
	margin:0;	
}

.sidemenu ul li{
	padding:15px;
	position: relative;	
	max-width:150px;
	width:150%;
	background-color: #616161;	
	border-top:1px solid #BDC3C7;
}

.sidemenu ul ul{
	transition: all 0.3s;
	opacity: 0;
	visibility: hidden;	
	position: absolute;
	left:100%;
	top:0;
	padding-left: 2px;
}

.sidemenu ul li:hover > ul{
	opacity: 1;
	visibility: visible;	
}

.sidemenu ul li:hover{
	background-color: #AAAAAA;
}

.sidemenu ul li a{
	color:black;
	text-decoration: none;	
}









